@font-face {
    font-family: "ethnocentric";
    src: url("../fonts/ethnocentric\ rg.ttf") format("truetype");
}

body {
    background-image: url("../images/nebula-background.jpg");
    background-size: cover;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: ethnocentric, serif;
    font-weight: 100;
    color: white;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: rgba(184, 183, 183, 0.3);
    padding: 15px;
    margin: 7.5px 0;
    line-height: 1.2;
}

p, button, #add-movie {
    font-size: 1rem;
    line-height: 1.5;
}

button {
    cursor: pointer;
}

#movie-search {
    color: white;
    background: rgba(184, 183, 183, 0.3);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 7.5px;
    margin-bottom: 22.5px;
    font-family: ethnocentric, serif;
}

#add-movie {
    margin: 7.5px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}

#submit-movie {
    font-family: ethnocentric, serif;
}

#image-area {
    margin-bottom: 22.5px;
}